<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resmi Göster</title>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-4 mt-2 text-success" style="font-size: 18px;font-weight:bold;">Ana Sayfa</a></li>
                    <li><a href="/add-report" class="nav-link px-4 mt-2 text-success" style="font-size: 18px;font-weight:bold;">Rapor Ekle</a></li>
                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-success mx-4" onclick="window.location.href='/sign-up';">Kayıt Ol</button>
                    <button type="button" class="btn btn-danger me-4" onclick="window.location.href='/logout';">Çıkış Yap</button>
                </div>
            </div>
        </div>
    </header>
</head>
<body>
<img alt="Rapor Resmi" th:src="*{'data:image/*;base64,'+{report.picture}}"></body>
</html>